# DATA FILES
*.mat
*.xlsx
*.xls
*.csv
*.txt
#/cacnes_genomic_analysis/matlab/data/data*
/cacnes_genomic_analysis/matlab/2_within-lineage-gain-loss/output_gainloss_regions/*.fasta
/cacnes_genomic_analysis/matlab/3_btwn-lineage-gene-content/1_contig_gene_filtering/output_fastas_filtered/lineage_*.fasta
#*.gbk
#*.gb
#*.fasta
*.fasta.fai
*.bt2
outfile
outtree

# FIGURE FILES
*.pdf
*.png
*.jpg
*.tree

# TOOLS
dnapars dnapars.app
**/dnapars.app/*

# NOTES TO SELF
notes*.txt

# DIRECTORIES
/sra_transfer
/cacnes_genomic_analysis/snakemakes/0_naming
/z_debug

# OTHER
*.DS_Store

# TEMP
samples_old.csv
samples_case_old.csv